@model List<Project>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<a asp-action="Create" class="btn btn-danger">New</a>
<br />
<br />

@await Html.PartialAsync("_ProjectTable", Model, new ViewDataDictionary(ViewData) { })
