@model List<Project>

@{ 
    bool admin = (bool)ViewData["iAdmin"];
}


<table class="table table-bordered">
    <thead>
        <tr>
            <td>Project Name</td>
            <td>Start Date</td>

            @if (admin)
            {
                <td>Edit</td>
            }

        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProjectName</td>
                <td>@item.StartDate</td>

                @if (admin)
                {
                    <td><a asp-action="Edit" asp-route-id="@item.ProjectID">Edit</a></td>
                }
            </tr>
        }



    </tbody>
</table>
